.target {
    opacity: 0;
    transition: .5s ease all;
    color: #FFF;
}
.left {
    transform: translateX(-100vw);
}
.right {
    transform: translateX(100vw);
}
.zoom {
    transform: scale(2,2);
}
.target.visible {
    opacity: 1;
    transform: translateX(0);
}